.input-group-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-group {
  /* display: grid;
  grid-template-columns: 1fr 3fr; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.input-box {
  /* flex-grow: 3; */
  padding: 0.5rem;
}
