.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.input {
  display: flex;
  flex-direction: column;
}

.input-label::after {
  content: ':'
}
.input-box {
}

.input-button {
}
